.post-container{
    margin-top:100px;
    margin-right:auto;
    margin-left:auto;
    width: 35vw;
    padding: 15px;
    .post{
        min-height: 200px;
        margin-bottom: 100px;
    }
   .text{
    height: auto;
    width: auto;
    white-space: pre;
   }
    .profilPicture{
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .likes-container{

        i {
            font-size: 1.5rem;
            margin: 0 10px;
            cursor: pointer;
          }
    }
    
    .container{
        width: auto;
    }
  }
  

