.post-container{
    margin-right:auto;
    margin-left:auto;
    height: auto;
    
   
   

  span{
    cursor: default;
  }
    .success-icon{
       text-align: center;
       width:fit-content;
       animation: 10s ease forwards anim-icon;
       padding-right: 10px;

       i{
        color: green;
        transform: none;
        font-size: 1.6em;
        margin-left: 10px;
        
       }
       
    }
   @keyframes anim-icon {
    from{
        margin-right: 30px;
        opacity: 0;
    }
    5%{  margin-right: 0;
        opacity: 1;
     }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
   }
    .post{
        
         box-shadow: rgba(6, 24, 44, 0.26) 0px 0px 0px 2px, rgba(6, 24, 44, 0.403) 0px 4px 6px -1px, rgba(255, 255, 255, 0) 0px 1px 0px inset;
        background-color: whitesmoke;
        border-radius: 25px;
        animation: 1s ease forwards post-display;
        margin-bottom: 10px;
        @keyframes post-display {
            from{
                opacity: 0;
                margin-top: 100px;
            }
            to{
                opacity: 1;
                margin-top: 0;
            }
           }
        a:link{
            text-decoration: none;
        }
        .edit-box{
                position: relative;
                width: 100px;
                text-align: end;
                .icon-box{
                    width:100%;
                    
                         i{
                            margin-right: 5px;
                            cursor: pointer;
                            font-size: 1.3em;
                         }
                    }
                       
                       
                .list-box{
                    position: absolute;
                    z-index: 1;
                    width: 100px;
                    display: none;
                    list-style:none;
                    background-color: white;
                    margin-top: 5px;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    padding-inline-start: 10px;
                    
                        
                        li{
                            text-align: center;
                            border: 1px solid rgba(0, 0, 0, 0.23);
                            font-size: 1em;
                            padding: 5px;
                            cursor: pointer;
                            
                            &:hover{
                                background-color: rgba(0, 0, 0, 0.142);
                            }
                        }
                    
                }
           
        }
        .date{
            font-size: 0.9em;
            cursor: default;
            padding-left: 5px;
            i{
                transform: none;
            }
        }
        .profilPicture{
            
            margin-right: 10px;
            margin-bottom: 5px;
        }
        .title{
            font-weight: bold;
            font-size: 18px;
            margin: 10px 0;
            margin-top: 20px;
            border-left: 1px solid rgba(0, 0, 0, 0.4);
            padding-left: 10px;
            cursor: default;
        }
        
       
           .postImg{
            width: fit-content;
            height: auto;
            margin: 10px auto;
            
            img{
                height:auto;
                width: 100%;
            }
           }
            .likes-container{
                cursor: pointer;
                margin-left: 15px;
                .like-icon{
                    margin-right: 10px;
                }
                i {
                    font-size: 1.5rem;
                    margin-right:  10px;
                    cursor: pointer;
                  }
            }
            
            .container{
                width: fit-content;
                margin-bottom: 5px;
               
               
            }
            .comment-icon{
                cursor: pointer;
                
                i{
                    font-size: 1.5em;
                    
                }
                .comment-counter{
                    margin-left: 5px;
                }
            }
           
    }
   
   
  }
  

