
.post{
        
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    background-color: white;
    border-radius: 20px;
    animation: 1s ease forwards post-display;
    @media screen and (max-width:720px){
        border-radius:0
    }
    @keyframes post-display {
        from{
            opacity: 0;
            margin-top: 100px;
        }
        to{
            opacity: 1;
            margin-top: 0;
        }
       }
    a:link{
        text-decoration: none;
    }
    .pseudo-container{
        padding-top: 5px;
        @media screen and (max-width:720px) {
            margin-top:0
        }
        .pseudo{
            font-size: 1.5em;
        }
        .edit-box{
            position: relative;
            width: 100px;
            text-align: end;
            .icon-box{
                width:100%;
                 i{
                     margin-right: 10px;
                     margin-top: 10px;
                     cursor: pointer;
                     font-size: 1.3em;
                     }
                     }
            .list-box{
                position: absolute;
                width: 100px;
                display: none;
                list-style:none;
                background-color: white;
                margin-top: 5px;
                margin-block-start: 0;
                margin-block-end: 0;
                padding-inline-start: 10px;
                    li{
                        text-align: center;
                        border: 1px solid rgba(0, 0, 0, 0.23);
                        font-size: 1em;
                        padding: 5px;
                        cursor: pointer;
                        &:hover{
                            background-color: rgba(0, 0, 0, 0.142);
                        }
                    }
                }
             }
             }
   
    .date{
        font-size: 0.9em;
        cursor: default;
        padding-left: 5px;
        margin-top: 5px;
        i{
            transform: none;
        }
    }
     
    .title{
        font-weight: bold;
        font-size: 18px;
        margin: 10px 0;
        margin-top: 20px;
        border-left: 1px solid rgba(0, 0, 0, 0.4);
        margin-left: 10px;
        padding-left: 10px;
        cursor: default;
    }
    .text{
        text-align: justify;
        height: auto;
        width: 90%;
        margin:auto;
        margin-top: 10px;
        white-space: pre;
        padding-left: 10px;
        cursor: default;
    }
       .postImg{
        width: fit-content;
        height: auto;
        margin: auto auto;
        margin-top: 20px;
        margin-bottom: 20px;
        
        img{
            height:auto;
            width: 100%;
        }
    }
     .container{
        position: relative;
        width: 100%;
        padding-bottom: 5px;
       
        .likes-container{
            cursor: pointer;
            margin-left: 15px;
            
            .like-icon{
                margin-right: 10px;
                @media screen and (max-width:720px){
                    height: 45px;
                    width: 45px;
                    margin-right: 15px;
                }
            }
            i {
                font-size: 1.5rem;
                margin-right:  10px;
                cursor: pointer;
              }
        }
        .comment-icon{
            cursor: pointer;
            i{
                font-size: 1.5em;
            }
            .comment-counter{
                margin-left: 10px;
            }
            @media screen and (max-width:720px){
                height: 45px;
                width: 45px;
            }
        }
        .success-icon{
            position: absolute;
            right: 30px;
            bottom: 5px;
            text-align: center;
            opacity: 1;
            cursor: none;
            animation: success 9000ms ease forwards;

            @keyframes success {
                0%{
                opacity: 1;}
                10%{right: 5px;}
                99%{opacity: 1;
                right: 5px;}
                100%{opacity: 0;
                right: 5px;}
                
            }
            i{
                color: green;
                font-size: 1.5em;
                margin-left: 10px;
             }
        }
     }
    .profilPicture{
        margin-right: 10px;
        margin-bottom: 5px;
     }
}


















