.upload-pic{
    
        cursor: pointer;
        border:1px;
        border-radius: 20px 20px 20px 20px;
        background-color: rgb(102, 147, 238);
        width:auto;
        text-align: center;
        padding-top: 10px;
        label{
            cursor: pointer;
            margin: 0 5px;
        }
       /* .hide-input{
            display: none;
        }*/
}