
.profil-page{
    width: 100%;
    height: 100%;
    .photo-change{

        display: block;
        position: relative;
        background-color: #0077ff ;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 10px;
        .camera-icon{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            color: white;
            width: fit-content;
            height: fit-content;
            margin: auto auto;

            i{
                font-size: 1.5em;
            }
        }
    }
    .profil-picture-btn{
        display: none;
    }
   
    input{
    
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        height: 40px;
        width: 200px;
        border: 1px black solid;
    }
    .textarea-box{
        width: fit-content;
        margin: auto;
        .textArea{
            width: 95vw;
            resize: none;
            
        }
    }
    
    .setting-btn{
        margin-top: 200px;
        button{
            font-size: 0.9em;
            width: fit-content;
            height: fit-content;
        }
        .delete-profil-btn{
            background-color: #d21f3c;
        }
    }
    .send-btn{
        margin-left: 10px;
        height: fit-content;
    }
    .validate{
        width: fit-content;
        margin-top: 30px;
        margin: auto;
    }
    .upload-pic{
        
            cursor: pointer;
            border:1px;
            border-radius: 20px 20px 20px 20px;
            background-color: rgb(102, 147, 238);
            width:auto;
            text-align: center;
            padding-top: 10px;
            label{
                cursor: pointer;
                margin: 0 5px;
            }
}


       /* .hide-input{
            display: none;
        }*/
    }