
@font-face {
  font-family: "font-2";
  src: url(./assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(./assets/fonts/JosefinSans-Bold.ttf);
}

$font-2: "font-2", serif;
$font-3: "font-3", serif;

$color-1: white;
$color-2: #0077ff;
$color-3: #4e5166;
$color-4: #fdeeee;
 $bg-1:rgba(227, 227, 227, 1);
$black: rgb(40, 40, 40);
$white: rgb(253, 253, 253);
$shadow: rgb(219, 218, 218);

#root{
  height: 100vh;
}
body {
  margin:0;
  font-family: $font-2;
  line-height: 1.4rem;
  background: $bg-1;
  color: $color-3;
}
header{
  height:50px;
}
section{
  margin-bottom: 50px;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}


.flex{
  display: flex;
}

.row{
  flex-direction: row;
}
.fs{
  justify-content: flex-start;
}
.fe{
  justify-content: flex-end;
}
.ai-f-end{
 align-items: flex-end;
}
.ai-fs{
  align-items: flex-start;
}
.space-around{

  justify-content: space-around;
}
.sb{
  justify-content: space-between;
}
.stretch{
  justify-content: stretch;
}
.ai-center{
  align-items: center;
}
.ac-center{
  align-content: center;
}

.cl{
  flex-direction: column;
}
.txt-al-j{
  text-align: justify;
}
#passwordErrorsList li{
  cursor:auto ;
  transform: none;
}
.pseudo-container{
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.2em;
  text-decoration: none;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.529);
  .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(245, 244, 244);
    width: 350px;
    height: 200px;
    border: 1px solid black;
    border-radius: 30px;
    .modal-container{
      height: 100%;
      width: 100%;
      .content{
        position: relative;
        top: 30%;
        margin: auto;
        width: fit-content;
        text-align: center;
        .btn-box{
          margin: auto;
          width: fit-content;
          button{
            width:100px;
          }
          .yes{
            margin-right: 20px;
          }
          .no{
            margin-left: 20px;
          }
        }
      }
      .modal-ask{
          margin-bottom: 10px;
        }
    }
  }
}
.create-post-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgb(245, 244, 244);
  width: 80%;
  height: fit-content;
  margin: auto;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  
  .stop-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
  }
   > article{
    display: block;
    box-shadow: none;
    width: 100%;
    height: auto;
    border-radius: 0;
    margin: 0;
    .profilPicture{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      border: 3px solid rgba(169, 169, 169, 0.505)
    }
    
    form{
      .pseudo-container{
        height: 50px;
        margin-bottom: 20px;
      }
      .textEditable{
        min-height: 300px;
        font-family: $font-2;
      }
    }
  }
}
.create-post-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.529);
}

.create-post-btn{
  position: fixed;
  display: block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 0;
  text-align: center;
  padding: 0;
  color: #050100;
  bottom: 10px;
  right: 55px;
  margin-right: 5px;
  box-shadow:  rgba(0, 0, 0, 0.3) 1px 2px 1px 1.5px;
  background-color: #0077ff; 
 
  &:hover{
    background-color: #0077ff;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
  }
  i{
    font-size: 1.5em;
  }
}
#refresh{
  position: fixed;
  display: block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 0;
  text-align: center;
  padding: 0;
  color: #050100;
  bottom: 10px;
  right: 5px;
  &:hover{
    background-color: #0077ff;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
  }
  i{
    font-size: 1.5em;
  }
}

.load-post-spinner{
  display: inline-block;
  width: fit-content;
  padding: 5px;
  height: fit-content;
  position: absolute;
  border-radius: 50%;
  background-color: #0077ff;
  color: #050100;
  z-index: 1;
  top: 8%;
  left: 46%;
  margin: auto;
  font-size: 2em;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
input{
  outline: none;
  height: 30px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #0501008f;
}
input.title{
  width: auto;
  height: 30px;
  margin:20px 0;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  font-size: 1.2em;
  font-family: $font-3;
  margin-left: 10px;
  background-color: white;
  padding-left: 5px;
  border-radius: 0;
  cursor: text;
  
  color: $color-3;
  transition: background-color ease 0.1s;
  &:hover{
    background-color: rgba(0, 0, 0, 0.100);
  }
}
input::file-selector-button{
    
  background-color: #0077ff;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.358);
  color: white;
  font-weight: 800;
  transition: 150ms ease;
 // margin: 10px 10px;
  &:hover{
   box-shadow:1px 1px 10px 1px rgba(0, 0, 0, 0.38) ;
   transform: scale(1.01);
  }
}
a,
a:visited {
  color: $color-3;
}
button,
input[type="submit"] {
  background: $color-2;
  color: $color-1;
  font-family: $font-3;
  cursor: pointer;
  transition: 0.2s;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 25px;
  height: 35px;
  width: 150px;
  &:hover {
    background: #fd2b01;
    border: 1px solid grey;
    color: $color-1;
  }
}
input[type=email]{
  &:hover{
      background-color:$bg-1 ;
  }
}
input[type=text]{
  &:hover{
      background-color:$bg-1 ;
  }
}
input[type=password]{
  &:hover{
    background-color:$bg-1 ;
  }
}
i {
  transition: 0.15s;

  &:hover {
    transform: scale(1.1);
  }
}
.error {
  color: red;
  font-weight: bold;
}
.success {
  color: green;
  font-weight: bold;
}
@media  screen and (max-width:720px) {
  main{
    width: 100%;
    height: 100%;
  }
 
}